*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
/.idea/
/shared/build/
/webApp/build/
/androidApp/build/
/desktopApp/build/
/kotlin-js-store/
/kotlin-js-store/
/app/build/
/androidApp/src/main/assets/composeResources/drawboxsample.shared.generated.resources/
/androidApp/src/main/assets/composeResources/io.ak1.drawbox.ui.resources/
/site/
/STRATEGY.md
/PLAYBOOK.md
/ARCHIVE_MODEL.md
/drawbox-ui/build/
