*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
/.idea/
/shared/build/
/webApp/build/
/androidApp/build/
/desktopApp/build/
/kotlin-js-store/
/kotlin-js-store/
